@{
    Layout = "NuovoLayout";
}

<p>1. Dichiarare una variabile valorizzandola con il nostro nome.</p>

@{
    string myName = "Luca";
    string myLastname = "Mazzarini";
}

<h2>Ciao, mi chiamo: @myName @myLastname</h2>

<hr />

<p>
    2. Creare una funzione che stampa la somma dei numeri che vanno da 1 a n (con n passato come parametro - n incluso)
    Stampare dentro uno span il risultato.
</p>

@{

    int sum(int n){

        int res = 0; 

        for (var i = 0; i < n; i++)
        {
            res = res + i;
        }
            return res;
    }

}

@sum(5);

<hr />

<p>
    3. Contare quante volte la lettera a è presente nalla frase "nel mezzo del cammin di nostra vita" e stampare questo valore in pagina
</p>

@{
    string str = "nel mezzo del cammin di nostra vita";
    int counter = 0;

    for (var i = 0; i < str.Length; i++)
    {
        if (str[i] == 'a')
        {
            counter++;
        }

    }
    <h3>Ci sono @counter "A" nella frase: @str</h3>;
}

<hr />

<p>
    4. Creare una List<int> di 20 numeri interi (generati random da 1 a 90, 1 e 90 inclusi) e mostrare in pagina solo i numeri compresi tra 20 e 70
</p>

@{
    List<int> numbers = new List<int>();

    for (int i = 0; i < 20; i++)
    {
        int randomNumber = new Random().Next(1,90);

        if(randomNumber > 20 && randomNumber < 70){
            numbers.Add(randomNumber);
        }
    }

    @foreach (var number in numbers)
         {
    <li>@number</li>   
         }
}

<hr />

<p>
    5. Stampare in pagina la data e l'ora attuale (usando la classe DateTime) con il formato anno-mese-giorno ore:minuti:secondi
</p>

    @DateTime.Now.ToString();
    
   <hr />

<p>
    6. Partendo dalla data di oggi (usando la classe DateTime) stampare in pagina <br />
    a. la data di 7 giorni fa <br />
    b. che giorno della settimana è oggi (il risultato dovrà essere il nome del giorno (Lunedì, Martedì, ...)<br />
    c. che giorno della settimana sarà nello stesso giorno e mese di oggi ma tra un anno (il risultato dovrà essere il nome del giorno (Lunedì, Martedì, ...)
</p>


<ol>
    <li>Data 7 giorni fa:  @DateTime.Now.AddDays(-7).ToString()</li>
    <li>Oggi è: @DateTime.Now.DayOfWeek</li>
    <li>Tra un anno sarà: @DateTime.Now.AddYears(1).DayOfWeek</li>
</ol>




